* {
    font-family: DM Sans;
}

body {
    height: 100%;
}

.header-cont {
    background-image: url("../assets/images/MaskGroup.png");
    background-position: center;
    background-color: rgb(247, 254, 239);
    background-repeat: no-repeat;
}

img {
    max-width: 10%;
    max-height: 100%;
    object-fit: contain;
}

.nav-header {
    display: flex;
    justify-content: space-around;
}

.ul-nav {
    color: rgb(140, 139, 138);
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 22em;
    align-items: center;
    font-size: .8em;
    font-weight: medium;
}

.button-signup {
    background-color: #410FF8;
    color: white;
    border-radius: 4px;
    border-style: none;
    outline: none;
    height: 2.3em;
    width: 7em;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 3em;
}

p {
    color: rgb(79, 79, 78);
    font-size: .8rem;
    text-align: center;
    font-weight: medium;
}

.header-pricing {
    color: rgb(20, 163, 133);
}

main {
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.article-starter {
    background-color: white;
    border-color: rgb(140, 139, 138);
    border-style: solid;
    color: black;
    width: 20%;
    height: 80%;
    margin: 0 3em;
    border-width: 1.5px;
    padding: 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.button-blue {
    background-color: #410FF8;
    color: white;
    height: 4em;
    border-radius: 5px;
    border-style: none;
    outline: none;
    cursor: pointer;
    margin-top: .7em;
    transition: 0.3s;
    font-weight: bold;
}

.article-advanced {
    background-color: #410FF8;
    border-color: #410FF8;
    border-style: solid;
    color: black;
    width: 20%;
    height: 80%;
    margin: 0 3em;
    border-width: 1.5px;
    padding: 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.button-white {
    background-color: white;
    color:#410FF8;
    height: 4em;
    border-radius: 5px;
    border-style: none;
    outline: none;
    cursor: pointer;
    margin-top: .7em;
    transition: 0.3s;
    font-weight: bold;
}

.article-pro {
    background-color: white;
    border-color: rgb(140, 139, 138);
    border-style: solid;
    color: black;
    width: 20%;
    height: 80%;
    margin: 0 3em;
    border-width: 1.5px;
    padding: 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

